on:
  push:
    branches:
      '**'
  pull_request:
    branches:
      - '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Rust Code
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test the code
        run: |
          cargo test --verbose

